body {
  background-color: skyblue;
}

h1 {
  border-color: brown;
  border-style: solid;
  color: navy;
  text-align: center;
}

h2 {
  color: navy;
}

.meat {
  color: red;
}

.veggie {
  color: green;
}

.cheese {
  color: darkorange;
}

.centerMe {
  text-align: center;
}